
<!--Main-->
<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 card-block">
                <div class="card-item">
                    <div class="card-img-block">
                        <div class="card-img-block-first">
                            <img src="images/card-1.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="card-img-block-second">
                        <div class="card-img-block-second-img-1">
                            <img src="images/card-2.png" alt="">
                        </div>
                        <div class="card-img-block-second-img-2">
                            <img src="images/card-3.png" alt="">
                        </div>
                        <div class="card-img-block-second-img-3">
                            <img src="images/card-4.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card-info">
                    <h4 class="card-info-title">Mersi</h4>
                    <div class="card-info-sub-text">
                        <p>шоколад с темной начинкой</p>
                    </div>
                    <div class="card-info-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                            enim ad minim veniam, quis nostrud exercitation ullamco</p>
                    </div>
                    <div class="card-button-block">
                        <div class="card-info-counter c-counter">
                            <div class="card-info-counter-item">1</div>
                            <div class="card-info-counter-block">
                                <button class="card-info-counter-block-plus">+</button>
                                <button class="card-info-counter-block-plus">-</button>
                            </div>
                        </div>
                        <button type="button" class="card-info-button">добавить в корзину</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-about">
        <ul class="card-about-menu">
            <li class="card-about-menu-item"><a href="#" class="card-about-menu-link active">Описание</a></li>
            <li class="card-about-menu-item"><a href="#" class="card-about-menu-link">Характеристики</a></li>
        </ul>
        <div class="card-about-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum.
            </p>
        </div>
    </div>
</div>
<div class="section-two-card">
    <div class="container">
        <h2 class="section-first-title">Похожие товары</h2>
        <div class="section-first-devider"></div>
        <div class="section-two-card-block row">
            <div class="section-two-card-block-item col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="section-two-block-item-img">
                    <img src="images/category-choco-2.png" alt="">
                    <div class="section-two-block-item-img-button-div">
                        <button type="type" class="section-two-block-item-img-button">Подробнее</button>
                    </div>
                </div>
                <h6 class="section-two-block-item-title">Mersi</h6>
                <p class="section-two-block-item-text">шоколад с молочной начинкой</p>
                <p class="section-two-block-item-sum"><span>50 000</span>сум</p>
            </div>
            <div class="section-two-card-block-item col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="section-two-block-item-img">
                    <img src="images/category-choco-1.png" alt="">
                    <div class="section-two-block-item-img-button-div">
                        <button type="type" class="section-two-block-item-img-button">Подробнее</button>
                    </div>
                </div>
                <h6 class="section-two-block-item-title">Mersi</h6>
                <p class="section-two-block-item-text">шоколад с молочной начинкой</p>
                <p class="section-two-block-item-sum"><span>50 000</span>сум</p>
            </div>
            <div class="section-two-card-block-item col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="section-two-block-item-img">
                    <img src="images/category-choco.png" alt="">
                    <div class="section-two-block-item-img-button-div">
                        <button type="type" class="section-two-block-item-img-button">Подробнее</button>
                    </div>
                </div>
                <h6 class="section-two-block-item-title">Mersi</h6>
                <p class="section-two-block-item-text">шоколад с молочной начинкой</p>
                <p class="section-two-block-item-sum"><span>50 000</span>сум</p>
            </div>
        </div>
    </div>
</div>
<!--Main-->
