<!--Main
==========================-->
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 ag-main-contact-blog delice-contacts">
                    <div class="ag-main-contact">
                        <div class="ag-main-contact-title-div">
                            <p class="ag-main-contact-title">Адрес: </p>
                        </div>
                        <div class="ag-main-contact-phone">
                            <p>Узбекистан, г. Ташкент,
                                Ул. Садыка Азимова, 68</p>
                        </div>
                    </div>
                    <div class="ag-main-contact">
                        <div class="ag-main-contact-title-div">
                            <p class="ag-main-contact-title">телефон: </p>
                        </div>
                        <div class="ag-main-contact-phone">
                            <a href="tel: +998901234567">+998 90 123 45 67</a>
                        </div>
                    </div>
                    <div class="ag-main-contact">
                        <div class="ag-main-contact-title-div">
                            <p class="ag-main-contact-title">Email: </p>
                        </div>
                        <div class="ag-main-contact-phone">
                            <p>info@delice.uz</p>
                        </div>
                    </div>

                </div>
                <div class="col-xl-6 col-lg-6 ag-main-contact-blog">
                    <input type="text" class="ag-main-contact-input" placeholder="ФИО">
                    <input type="text" class="ag-main-contact-input" placeholder="Телефон">
                    <input type="email" class="ag-main-contact-input" placeholder="Email">
                    <textarea name="Коммен" id="" class="ag-main-contact-textarea" placeholder="Комментарий"></textarea>
                    <div class="de-contacts-btn">
                        <button class="ag-main-contact-button">Отправить</button>
                    </div>
                </div>

            </div>
        </div>

    <div class="ag-map" id="map"></div>

<!--Main
==========================-->
